:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: #454545;
}

body {
  background: #fbfbfb;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1220px;
  padding: 0px 20px;
  margin: 0px auto;
}
